<template>
    <div class="add-img" @click="addImage(getGallery.length)">
		<div class="btn-add-img"></div>
		<span>Add your <br>Picture</span>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: mapGetters(['getGallery']),
  methods: mapActions(['addImage'])
}
</script>

<style>
  #grid  .add-img {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #fff;
}

  .add-img .btn-add-img {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-box-shadow: 0 2px 3px rgba(160, 176, 186, 0.6);
  box-shadow: 0 2px 3px rgba(160, 176, 186, 0.6);
  background-color: #21b8c6;
  border-radius: 50%;
}

  .add-img .btn-add-img::before,   .add-img .btn-add-img::after {
  position: absolute;
  width: 20px;
  height: 6px;
  top: 45%;
  right: 30%;
  background-color: #fff;
}

  .add-img .btn-add-img::before,   .add-img .btn-add-img::after {
  content: "";
}

  .add-img .btn-add-img::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

  .add-img span {
  margin-top: 10px;
  text-align: center;
  color: #a0b0ba;
}
</style>