<template>
    <div>
        <h1>Welcome to Viseven <span class="color-text">imagestock</span></h1>
        <div id="grid">
          <photo v-for="(item,i) of getGallery"
                :key = "i"
                :fotoItem = "item"
                :style="{ backgroundImage: 'url(' + getImageUrl(item.src) + ')'}"
          ></photo>
          <addPhoto></addPhoto>
        </div>
        <popup v-if="getPopupIs"> </popup> 
    </div>
</template>


<script>
import photo from '@/components/photo'
import popup from '@/components/popup'
import addPhoto from '@/components/addPhoto'
import { mapGetters } from 'vuex'
export default {
  name: 'app',
  computed: mapGetters(['getGallery','getPopupIs']),
  methods: {
    getImageUrl(pic) {
      return require ('@/assets/img/' + pic)
    },
    createGallery() {
      this.$store.commit('createGallery')
    }
  },
  components: {
    photo,
    popup,
    addPhoto
  },
  created () {
    this.createGallery()
  }
}
</script>

<style>
  #app {
    width: 1024px;
    margin: 10px auto;
    padding: 25px;
    overflow: auto;
    color: #8499a7;
    background-color: #f0f3f6;
    font-family: "Open Sans";
  }
  #app h1 {
    margin-bottom: 10px;
    font: 700 24px 'Open Sans';
    text-transform: uppercase;
  }

  #app h1 .color-text {
    color: #21b8c6;
  }

  #app #grid {
    display: grid;
    grid-auto-rows: 200px;
    grid-auto-columns: 250px;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin-bottom: 10px;
  }

  #grid > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    background-size: cover;
    cursor: pointer;
  }
  .hide {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f3f6;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
  }

</style>
