<template>
    <li>
        <span class="author">By {{comment.name}}</span>
		<span class="dataMsg">Today {{comment.hours}}</span>
		<p class="message">{{comment.msg}}</p>
    </li>
    
</template>

<script>
export default {
    props: ['comment']
}
</script>