<template>
    <div 
        :data-id="fotoItem.id" 
        class="foto" 
        @click="setCurrentItem(fotoItem)"
        ref="photo"
    >
		<div class="block-info-img hide"> 
			<div>
                <span class="count-comments count">{{fotoItem.coments.length}}</span>
            </div>
			<div class="wrapp-like-dislike">
			<div>
                <span class="count-dislike count">{{fotoItem.dislike}}</span>
            </div>
			<div>
                <span class="count-like count">{{fotoItem.like}}</span>
            </div>
			</div>
		</div>

    </div>
</template>
<script>
import {  mapGetters, mapMutations  } from 'vuex'

export default {
    props: {
        fotoItem: {
            type: Object,
            required: true
        }
    },
    computed: mapGetters(['getStyleGallery','getPhotoStyleSet']),
    methods: {
        ...mapMutations(['setCurrentItem']),
        patternStylePhoto() {
            for (const key of this.getStyleGallery) {
		 		if (key.photo.id === this.fotoItem.id) {
                    let res = key.photo.gridAreaStyle.join('/');
                    this.$refs.photo.style.gridArea = res;
		 		    key.photo.gridAreaStyle[1] += this.getPhotoStyleSet.gridAreaSum; 
		 		    key.photo.gridAreaStyle[3] += this.getPhotoStyleSet.gridAreaSum; 
                    key.photo.id += this.getPhotoStyleSet.everyNingthPhotoCounter;
                }
		 	}
        }
    },
    mounted(){
        this.patternStylePhoto()
    }
}
</script>
<style>
    .foto:hover .block-info-img {
        display: -webkit-box;
        display: flex;
    }
    .block-info-img {
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: space-evenly;
        justify-content: space-evenly;
        background-color: aliceblue;
        border: 1px solid #000;
    }
    .block-info-img > div:nth-child(1), .block-info-img .wrapp-like-dislike > div {
        width: 50px;
        height: 50px;
        position: relative;
        background: center no-repeat;
        cursor: pointer;
    }
    .block-info-img > div:nth-child(1) {
        background-image: url(../assets/img/chat.png);
    }
    .block-info-img .wrapp-like-dislike > div:nth-child(1) {
        background-image: url(../assets/img/dislike.png);
    }
    .block-info-img .wrapp-like-dislike > div:nth-child(2) {
        background-image: url(../assets/img/like.png);
    }
    .block-info-img .wrapp-like-dislike {
        display: -webkit-box;
        display: flex;
    }
    .count {
        width: 15px;
        height: 15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: absolute;
        right: 2px;
        top: 5px;
        font: 600 12px 'Open Sans';
        color: #21b8c6;
        background-color: #fff;
        border: 1px solid #A0B1BA;
        border-radius: 50%;
    }
</style>
