<template>
    <div class="wrapper-popup ">
		<div class="popUpDataImg">
			<div class="info-img-block">
				<div class="img-block" :style="{backgroundImage: 'url(' + getImageUrl + ')'}"></div>
				<div class="operation-buttons">
					<div class="dislike"  @click="operation('dislike')">
						<span class="count">{{getCurrentItem.dislike}}</span>
					</div>
					<div class="like" @click="operation('like')">
						<span class="count">{{getCurrentItem.like}}</span>
					</div>
				</div>
			</div>
			<div class="message-img-block">
				<div class="content-msg">
					<h2>Comments: <span class="coment-count">{{getCurrentItem.coments.length}}</span></h2>
					<ul class="comment-field">
						<msgList v-for="(msg,i) of getCurrentItem.coments"
                                :key = "i"
                                :comment = "msg"
                        ></msgList>
					</ul>
				</div>
				<form action="">
					<input type="text" placeholder="Type your nickname here..." class="nick-name" v-model="name">
					<textarea name="" id="" cols="30" rows="10" class="message-input" placeholder="Write your comment here..." v-model="text"></textarea>
					<div class="btn-send-msg" @click="operationAdd({text,name},'oleg')"></div>
				</form>
				<div class="btn-close-pop-up" @click="setCurrentItem(getCurrentItem)"></div>
			</div>
		</div>
	</div>
</template>

<script>
import msgList from '@/components/messageList.vue'
import {mapGetters, mapMutations, mapActions} from 'vuex'
export default {
    data() {
        return {
            text: '',
            name: '',
        }
    },
    computed: mapGetters(['getImageUrl','getCurrentItem']),
    methods: {
        ...mapMutations(['setCurrentItem']),
        ...mapActions(['operation','operationAdd'])
    },
    components: {
        msgList
    }
}
</script>

<style>
    .wrapper-popup {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .wrapper-popup .popUpDataImg {
        width: 50%;
        height: 65%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;
        display: -webkit-box;
        display: flex;
        font-weight: 100;
        border: 1px solid #000;
        background-color: #fff;
    }
    .wrapper-popup .popUpDataImg .info-img-block {
        width: 60%;
        position: relative;
    }

    .wrapper-popup .popUpDataImg .info-img-block .img-block {
        width: 100%;
        height: 90%;
        background-size: cover;
    }

    .wrapper-popup .popUpDataImg .info-img-block .operation-buttons {
        display: -webkit-box;
        display: flex;
        position: absolute;
        right: 4px;
        bottom: 5px;
    }

    .wrapper-popup .popUpDataImg .info-img-block .operation-buttons div {
        width: 50px;
        height: 50px;
        position: relative;
        background: #E0E5E9 center no-repeat;
        cursor: pointer;
    }

    .wrapper-popup .popUpDataImg .info-img-block .operation-buttons .like {
        background-image: url(../assets/img/like.png);
    }

    .wrapper-popup .popUpDataImg .info-img-block .operation-buttons .dislike {
        margin-right: 5px;
        background-image: url(../assets/img/dislike.png);
    }

    .wrapper-popup .popUpDataImg .message-img-block {
        width: 40%;
        padding: 25px 10px 10px 20px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .wrapper-popup .popUpDataImg .message-img-block .content-msg {
        height: 100%;
        margin-top: 10px;
        border-bottom: 2px solid #f0f3f6;
        overflow: auto;
    }

    .wrapper-popup .popUpDataImg .message-img-block .content-msg h2 {
        font: 600 18px 'Open Sans';
    }

    .wrapper-popup .popUpDataImg .message-img-block form {
        position: relative;
    }

    .wrapper-popup .popUpDataImg .message-img-block form .nick-name, .wrapper-popup .popUpDataImg .message-img-block form .message-input {
        width: 100%;
        padding: 10px 10px 5px 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wrapper-popup .popUpDataImg .message-img-block form .nick-name:focus, .wrapper-popup .popUpDataImg .message-img-block form .message-input:focus {
        outline: none;
    }

    .wrapper-popup .popUpDataImg .message-img-block form .nick-name {
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid #20B8C5;
    }

    .wrapper-popup .popUpDataImg .message-img-block form .message-input {
        width: 90%;
        height: 45px;
        border: 1px solid #f0f3f6;
    }

    .wrapper-popup .popUpDataImg .message-img-block form .btn-send-msg {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        bottom: 2px;
        background-image: url(../assets/img/btn-send.png);
        background-size: cover;
        border-radius: 3px;
        cursor: pointer;
    }

    .wrapper-popup .popUpDataImg .message-img-block .btn-close-pop-up {
        position: absolute;
        right: 20px;
        top: 8px;
        cursor: pointer;
    }

    .wrapper-popup .popUpDataImg .message-img-block .btn-close-pop-up:after,.wrapper-popup .popUpDataImg .message-img-block .btn-close-pop-up:before {
        content: "";
        width: 5px;
        height: 20px;
        position: absolute;
        background-color: #21b8c6;
    }

    .wrapper-popup .popUpDataImg .message-img-block .btn-close-pop-up:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .wrapper-popup .popUpDataImg .message-img-block .btn-close-pop-up:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .wrapper-popup .popUpDataImg .message-img-block .comment-field li {
        margin-top: 10px;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 14px;
    }

    .wrapper-popup .popUpDataImg .message-img-block .comment-field li .message {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #f0f3f6;
    }
</style>