<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>


<script>

export default {
  name: 'app',
}
</script>

<style>
  #app {
    width: 1024px;
    margin: 10px auto;
    padding: 25px;
    overflow: auto;
    color: #8499a7;
    background-color: #f0f3f6;
    font-family: "Open Sans";
  }
  .hide {
    display: none;
  }
</style>
